<a href="https://colab.research.google.com/github/gabrieleite/PythonFundamentos/blob/main/Cap03_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loop For

In [1]:
# Criando uma tupla e imprimindo cada um dos valores
tp = (2,3,4)
for i in tp:
  print(i)

2
3
4

In [2]:
# Criando uma lista e imprimindo cada um dos valores 
listamercado = ['Leite', 'Frutas', 'Carne']
for i in listamercado:
  print(i)

Leite
Frutas
Carne

In [3]:
# Imprimindo os valores no intervalo entre 0 e 5 (exclusive)
for cont in range(0,5):
  print(cont)

0
1
2
3
4

In [4]:
# Imprimindo na tela os números pares da lista de números
lista = [1,2,3,4,5,6,7,8,9,10]
for num in lista:
  if num%2 == 0:
    print(num)

2
4
6
8
10

In [5]:
# Listando os números no intervalo entre 0 e 101, com incremento em 2
for i in range(0,101,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [6]:
# Strings também são sequências
for caracter in 'Aprendendo Python!':
  print(caracter)

A
p
r
e
n
d
e
n
d
o

P
y
t
h
o
n
!

# Loops Aninhados

In [7]:
# Loops aninhados 
for i in range(0,5):
  for a in range(0,5):
    print(a)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4

In [8]:
# Operando os valores de uma lista com loop for 
listaB = [32,53,85,10,15,17,19]
soma = 0
for i in listaB:
  double_i = i * 2
  soma += double_i

print(soma)

462

In [9]:
# Loops em lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]
for valor in listas:
  print(valor)

[1, 2, 3]
[10, 15, 14]
[10.1, 8.7, 2.3]

In [10]:
# Contando os itens de uma lista
lista = [5,6,10,13,17]
count = 0
for item in lista:
  count += 1

print(count)

5

In [11]:
# Contando o número de colunas
lst = [[1,2,3], [3,4,5], [5,6,7]]
primeira_linha = lst[0]
count = 0
for column in primeira_linha:
  count = count + 1

print(count)

3

In [13]:
# Pesquisando em listas

listaC = [5,6,7,10,50]

# Lopp através da lista
for item in listaC:
  if item == 5:
    print('Número localizado na lista!')

Número localizado na lista!

In [14]:
# Listando as chaves de um dicionário
dict = {'k1':'Python', 'k2':'R', 'k3':'Scala'}

for item in dict:
  print(item)

k1
k2
k3

In [15]:
# Imprimindo chave e valor do dicionário. Usando o método items() para retornar os itens de um dicionário
for k,v in dict.items():
  print(k,v)

k1 Python
k2 R
k3 Scala