<a href="https://colab.research.google.com/github/gabrieleite/PythonFundamentos/blob/main/Cap02_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuplas

In [1]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes")
tupla1

('Geografia', 23, 'Elefantes')

In [2]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [3]:
tupla1

'Chocolate'

In [4]:
tupla1 = ("Geografia", 23, "Elefantes")
tupla1[0]

'Geografia'

In [5]:
# Verificando o comprimento da tupla
len(tupla1)

3

In [6]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes')

In [7]:
tupla1.index('Elefantes')

2

In [8]:
# Deletando a tupla
del tupla1

In [9]:
# Criando uma tupla
t2 = ('A', 'B', 'C')
t2

('A', 'B', 'C')

In [10]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [11]:
lista_t2

['A', 'B', 'C']

In [12]:
lista_t2.append('D')

In [13]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)
t2

('A', 'B', 'C', 'D')